# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.mlops/
venv/
env/

# Model files (optional - if large, better ignore)
*.pkl
*.joblib

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Docker
*.tar

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# VS Code
.vscode/

# Temporary files
*.tmp
*.swp
